include requirements*.txt
include CONTRIBUTING.md
include LICENSE
include blfs_manager/lfs-deps-*

exclude .gitignore
exclude AUTHORS.md
exclude README.md
exclude blfs-pm
exclude deploy/README.md
exclude deploy/build.sh
exclude deploy/download.sh

prune deploy/
prune tests/
prune .github/
